{% extends 'base.html' %}
{% load static %}
{% block main %}

<section>
    <div class="container mb-5">
        <div class="text-center py-2 mb-3">
            <span class="text-white font-20 font-weight-bold">Todoを削除します。よろしいですか？</span>
        </div>
        <div class="row">
            <div class="col-11 col-lg-8 mx-auto mb-3">
                <div class="card border rounded-pill py-3 text-dark-light px-4">
                    <h5 class="mb-0 font-20">タイトル: {{ todo.title }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11 col-lg-8 mx-auto mb-3">
                <div class="card border rounded-pill py-3 text-dark-light px-4">
                    <p class="mb-0 font-20 font-weight-bold">詳細: {{ todo.body|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="text-right">
                    <a href="{% url 'todo:index' %}" class="btn bg-lightgrey border-orange text-dark-light shadow">戻る</a>
                </div>
            </div>
            <div class="col-6">
                <div class="text-left">
                    <form action="" method="post">
                        <button type="submit" class="btn bg-white border-orange text-pink shadow">削除する</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}